
:root {
  --colorOne: #D9F4C7;
  --colorTwo: #00A5CF;
  --colorThree: #1E2749;
  --colorFour: #BFACAA;
  --colorFive: #41E2BA;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--colorOne);
}

/* NAVBAR */

.navBar h1 {
  background-color: var(--colorTwo);
}


/* About */
.about div {
  background-color: var(--colorTwo);
  padding: 20px;
}


/* Contact */
.contact div {
  background-color: var(--colorThree);
  padding: 20px;
}


/* Portfolio */



/* Resume */