/* All CSS */
:root {
  --colorOne: #D9F4C7;
  --colorTwo: #00A5CF;
  --colorThree: #1E2749;
  --colorFour: #BFACAA;
  --colorFive: #41E2BA;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: var(--colorFour);
}

/* NAVBAR  ================================================= */

.navBar {
  background-color: var(--colorFive);
}

.navBar a {
  display: inline-block;
  margin: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: var(--colorThree);
}

.navBar a:hover {
  background-color: yellow;
  border: black 1px solid;
  border-radius: 10px;
}


/* About  ================================================== */
.about div {
  background-color: var(--colorTwo);
  padding: 20px;
}


/* Contact  ================================================= */
.contact div {
  background-color: var(--colorThree);
  padding: 20px;
}


/* Portfolio  ================================================= */



/* Resume  ================================================= */